<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JOIN US</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/app.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
</head>

<body>
    <div class="flex-container">
        <div class="container">
            <h2>ERROR(S) : </h2>
            <p>
                <%= message %>
            </p>
        </div>
    </div>
</body>

</html>

<script>
    setTimeout(() => {
        window.location = "/";
    }, 8000);
</script>